* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif',
}

body {
    background-color: beige;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    margin: 0;
    font-size: large;

}

header {
    color: darkslategrey;
    text-align: center;
}

p {
    color: slateblue;
    font-size: 12;
}



.question-list-title {
    text-align: center;
    font-size: 14;
}


.question-card {
    color: maroon;
    font-size: 12;
    text-align: center;
}
.answer-btn {
    background-color: rgb(159, 245, 245);
    
}

li {
    list-style-type: none;
}